In [87]:
import pandas as pd
import random
import names
import numpy as np

In [88]:
# random.randrange(10,50)
rng = np.random.default_rng()
rng.standard_normal()

0.9851514570316444

In [89]:
######################################
# Create a dataframe of healthy people
#######################################

#number of obs
N = 80

# id variable setup
alphabet = st.ascii_lowercase + st.digits
def random_id():
    return ''.join(random.choices(alphabet, k=15))

# age variable setup
mean_age = 30
std_age = 5
age_lower_bound = 18

# smoker variable setup
proportion_are_smokers = 0.2

# Database Instantiation
########################

random_data = {
    "id": [random_id() for _ in range(N)],
    "first_name": [names.get_first_name() for _ in range(N)],
    "last_name": [names.get_last_name() for _ in range(N)],
    "donation_amount_cents" 
    # normal distribution of integer ages centered on healthy_mean_age, lower bound 18.
    "age": [max(math.floor(random.gauss(mean_age, std_age)),age_lower_bound) for _ in range(N)],
    "is_smoker": [random.random() < proportion_are_smokers for _ in range(N)],
    "is_sick": [0 for _ in range(N)]
}
healthy_df = pd.DataFrame(random_data)
healthy_df

                 id first_name    last_name  age  is_smoker  is_sick
0   absif2ccdiej3mn    Suzanne        Krieg   31      False        0
1   lrqte8ct5gqa1yk    Charles    Gillespie   32      False        0
2   00ll380zbrw5n99    Melynda         Holt   28      False        0
3   6qui1e46i6mmzww         Jo       Wendte   32      False        0
4   5mocwr0kioa70ai       Toni        Hisey   24       True        0
..              ...        ...          ...  ...        ...      ...
75  50o2x7vyqdoxsp6  Stephanie        Scott   30      False        0
76  wldz0ced5svcivo    Deborah    Mcgroarty   34       True        0
77  j0neiox9x4586as     Willie  Degenfelder   28       True        0
78  tq97wrkkc993g6l      Janet    Mctiernan   24      False        0
79  wjysheth6ekftg9    William       Mignot   34      False        0

[80 rows x 6 columns]

In [90]:
#Create values for 20 sick people with a different distribution.
N = 20
sick_mean_age = 50
proportion_sick_smokers = 0.4
sick_data = {
    "id": [random_id() for _ in range(N)],
    "first_name": [names.get_first_name() for _ in range(N)],
    "last_name": [names.get_last_name() for _ in range(N)],
    # normal distribution of integer ages centered on sick_mean_age, lower bound 18.
    "age": [max(math.floor(random.gauss(sick_mean_age, std_age)),age_lower_bound) for _ in range(N)],
    "is_smoker": [random.random() < proportion_sick_smokers for _ in range(N)],
    "is_sick": [1 for _ in range(N)]
}
sick_df = pd.DataFrame(sick_data)
sick_df

                 id first_name  last_name  age  is_smoker  is_sick
0   4p06ak55hz620b1     Dennis     Bohnen   58      False        1
1   i413efxlk01bapo       Eric   Braswell   41       True        1
2   uw6rpbqh192k3xq    Lillian  Henderson   58      False        1
3   xfj283ia7klk05e        Kim    Ludwick   59       True        1
4   izxihvpozn4ymnq     Jessie     Bowles   54      False        1
5   gm8yp2cvd9h9d9j   Courtney    Sirmans   54      False        1
6   7ino4cr1rr0iovi     Thomas     Milian   45      False        1
7   vvpqxrqk0v4gz08     Audrey     Martin   60      False        1
8   479xuwiultbyilq   Gertrude       Wong   55       True        1
9   yfiqinmvji8joon       Judy  Robertson   54       True        1
10  6iunewme2d4n8pc     Sharon    Merrill   53      False        1
11  y30l1t82matv0eq      Henry   Robinson   44      False        1
12  vpfrgh2picn7kp8   Elfriede    Tisdale   51       True        1
13  zzulokrwg73zlx3     Rhonda     Schanz   51       True        1
14  w6a76wz3idvu7mb      Paula  Patterson   45      False        1
15  6wk41aum22g2vwn   Lawrence      Kruse   50       True        1
16  hspgov89a4k3tfy      Maria   Hartmann   51      False        1
17  8daz0eqk21y2foi    Rosella    Switzer   53      False        1
18  b4twxi8j1f4lc8j       Neil    Gossett   46       True        1
19  4hytmawq20dpt68        Ida     Chasse   40       True        1

In [91]:
# Get the union of the two dfs
df = pd.concat([healthy_df, sick_df])
df

                 id first_name  last_name  age  is_smoker  is_sick
0   absif2ccdiej3mn    Suzanne      Krieg   31      False        0
1   lrqte8ct5gqa1yk    Charles  Gillespie   32      False        0
2   00ll380zbrw5n99    Melynda       Holt   28      False        0
3   6qui1e46i6mmzww         Jo     Wendte   32      False        0
4   5mocwr0kioa70ai       Toni      Hisey   24       True        0
..              ...        ...        ...  ...        ...      ...
15  6wk41aum22g2vwn   Lawrence      Kruse   50       True        1
16  hspgov89a4k3tfy      Maria   Hartmann   51      False        1
17  8daz0eqk21y2foi    Rosella    Switzer   53      False        1
18  b4twxi8j1f4lc8j       Neil    Gossett   46       True        1
19  4hytmawq20dpt68        Ida     Chasse   40       True        1

[100 rows x 6 columns]

In [106]:
# Assert that id column is unique
unique_id = df.groupby("id").agg(id_count=("id", "count"))
unique_counts = unique_id["id_count"].unique()
assert unique_counts == 1

In [105]:
# Show checklist of all diagnostics to run
# if run all diagnostics, show checklist with fail, pass, NA
# Create df cleaning class with diagnostics functions to check and fix a number of common df issues
# 1 are there spaces in the column names? 
# is the id column overall unique? OR
### is the id column not unique, but still a unique identifier?
#### function to create hash fix for non-uniqueness
# Is the id column non-sequential?
## function to generate new non-sequential identifier column
# are there duplicate entries?
# is there a currency in this dataset?
## is it int type?
###function to convert currency to int type

array([ True])

In [107]:
# create a regression function to give all the output you like

In [108]:
# regress sick with age and smoker

In [109]:
# diff of two means age for sick and non-sick